[2015-09-19 18:42] brainexe opened #1 "Add basic Gyro/Accelerometer support"

[2015-09-19 18:42] brainexe opened #2 "Add propper support for temperature sensors"

[2015-10-16 20:55] lgleasain opened #4 "Problem running the example"
I'm on a chromebook pixel running ubuntu trusty 14.4 under crouton which should have access to the full bluetooth stack etc..   After installing all of the libraries etc. I tried running the all example and it hangs without any output on the screen (no logs etc).  Any ideas about what might be happening?

[2015-10-16 21:32] siddrajput commented on #4
Did you try running it in debug mode? Like this:

For debug output  DEBUG="noble-device" node examples/all.js

[2015-12-07 21:37] lgleasain opened #5 "Getting error cannot read property on for undefined."
This is on the latest version of rasberrian for the Rasberry Pi.

sudo DEBUG="noble-device" node node_modules/node-metawear/examples/all.js
  noble-device start +0ms
were connected!
/home/pi/code/mbient/node_project/node_modules/node-metawear/src/registers/data-processing.js:38
    this.emitter.on([MODULE_OPCODE, NOTIFY], function(buffer) {
                ^

TypeError: Cannot read property 'on' o

[2015-12-08 03:54] lgleasain commented on #5
Ok  tracked this down.  It appears to be a problem with the data processor.  If I comment this out in the all.js file it works....not sure what the issue is.

[2015-12-08 03:54] lgleasain commented on #4
Figured it out.  Got it working on OSX,  crouton in Ubuntu and on a rasberry Pi.

[2015-12-08 03:54] #4 closed

[2015-12-08 08:18] brainexe commented on #5
Hey @lgleasain, i'll fix the root cause of the issue later. The data-logger is only a simple dummy implementation and was not tested fully from my side.

[2015-12-08 08:19] brainexe commented on #4
Hey @lgleasain what was the issue? Did you made any changes?
Some useful information to add to the readme file?

[2015-12-08 18:13] lgleasain commented on #4
My big issue was that I needed to turn on debugging to see that something was happening and then run the logging via the project directory....  Give me a day or two and I'll put in a pull request for the readme along with a blog post.

[2015-12-15 14:06] AlexDmr commented on #1
Indeed, I would love it too :)

[2015-12-23 14:00] brainexe commented on #5
fixed in 1325a49c3b3

[2015-12-23 14:00] #5 closed

[2016-01-01 22:00] onnobos commented on #1
Great work so far. Any idea when the Accelerometer part is ready?

[2016-01-02 13:50] brainexe commented on #1
The base implementation of the gyroscope seems to work for me. See examples/gyro.js

Yesterday i started the implementation of the accelerometer sensor in branch "accelerometer". See #6
But it's far away from stable status. It might me usable end of next week

[2016-01-02 19:44] onnobos commented on #1
The gyro is working for me and especially after your last updates it runs much quicker and I get the information directly :-). So far I have created a small node application using socket.io and rgraph for a graph. I will be using this to identify jumps for my volleyball team. The accelerometer will be part of plan.

Thanks for your work so far. BTW Do you re-engineer from the java application from

[2016-01-04 15:56] brainexe commented on #1
Hey @onnobos, yes i used the Android Java code as base.
The two most important files are:
- https://github.com/mbientlab/Metawear-AndroidAPI/blob/master/library/src/main/java/com/mbientlab/metawear/impl/DefaultMetaWearBoard.java
- https://github.com/mbientlab/Metawear-AndroidAPI/blob/master/example/src/main/java/com/mbientlab/metawear/example/MainActivity.java

[2016-01-27 19:31] brainexe commented on #1
Sorry for delay, but now I merged the first working implementation of the accelerometer into master #6
You can try the test script in examples/accelerometer.js

But this is only a rough implementation without possibility to change configuration yet
Open tasks:
- implement correct scaling of result ([reference values](https://github.com/mbientlab/Metawear-AndroidAPI/blob/afc11caa3fb993c5d5341fee420

[2016-01-27 19:41] brainexe opened #7 "Accelerometer: Implement correct scaling"
The metawear device supports g-ranges for 2 to 16g. The default is 2g.
Depending on this range, we have to scale the result to the correct output value.
The current range is stored in "accRange"

The reference values can be found in [the java source](https://github.com/mbientlab/Metawear-AndroidAPI/blob/afc11caa3fb993c5d5341fee4206612ae056e65b/library/src/main/java/com/mbientlab/metawear/module/Bm

[2016-01-27 19:44] brainexe opened #8 "Implement config for accRange/dataRate"
I added already the possibility to set dataRate/accRange, but they are not taken into account yet...

[2016-01-27 19:53] brainexe opened #9 "Further configuration for accelerometer"
There are further methods for configurate the accelerometer:
- TAP_CONFIG
- ORIENT_CONFIG
- FLAT_CONFIG
- LOW_HIGH_G_CONFIG
Right now, the default values are send only. It would be fine to create a configuration interface like the Android SDK

[Here is](https://github.com/mbientlab/Metawear-AndroidAPI/blob/master/library/src/main/java/com/mbientlab/metawear/impl/DefaultMetaWearBoard.java
) the Jav

[2016-01-27 20:35] #7 closed

[2016-02-04 11:35] #1 closed

[2016-02-04 15:25] Bennoo commented on #8
Hello, do you know where I can start looking for the issue?
I would like to have 100 Hz but it is not taken into account..
Tx

[2016-02-06 19:17] brainexe commented on #8
I extended the examples/accelerometer.js script by two optional CLI parameters. The first is the sampling rate in HZ and the second one the accRange.

In general you can pass the accRange/dataRate now...but i found one issue, related to sampling rates  below 6.25hz and above 1600hz. In this case i don't get any value.

6.25hz and below -> **FAIL**...see commands below
12.5hz -> working fine with e

[2016-02-12 17:58] #8 closed

[2016-02-24 22:51] yowakita commented on #2
@brainexe Could you elaborate on what you mean by proper support? Thanks!

[2016-02-24 23:59] yowakita opened #14 "Question On Creating onStep function in Register"
Hello, first of all thank you for creating this module, it has been very useful for me. Pardon my lack of knowledge because a lot of this is still new to me, but I would love to learn more.

I am attempting to create an onStep function for the accelerometer that would utilize the constants you have in the accelerometer.js register file,
[code]

Attempting to emulate the code you have now on the on

[2016-02-25 17:45] JpEncausse opened #15 "Windows Support"
Hi,
Any plan for NodeJS / Windows10 support ?

Thanks !

[2016-02-27 09:25] alanhortz commented on #15
@JpEncausse Do you mean Windows 10 iot core ?

[2016-02-27 13:26] JpEncausse commented on #15
No Windows 10 desktop edition.
I 'd like to put Metaware as a core component of SARAH (http://sarah.encausse.net)
SARAH works on NodeJS (server) and C# (client)  and it would be great to be able to get MetaWare data.

For instance this PoC use a Table with a Windows 10 on an Intel NUC
https://www.youtube.com/watch?v=VErQZcZBivM

But I have to use a mobile phone as a proxy :-(

[2016-02-27 22:30] brainexe commented on #15
sorry, i don't have any windows device for checking for compatibility...

But in general this libary relies on [sandeepmistry/noble](https://github.com/sandeepmistry/noble)
Have you checked  [this introduction](https://github.com/sandeepmistry/noble#windows)?

[2016-02-27 22:41] brainexe commented on #2
This issue is about checking the different measurement types.

As i remember, the metawear firmware uses different constants on different devices.
I used the values of the "pro-edition" [here](https://github.com/brainexe/node-metawear/blob/master/src/registers/temperature.js#L15)

[2016-02-27 22:57] brainexe commented on #14
I quickly checked the Android SDK source code and it seems you have to extend the STEP_DETECTOR_CONFIG call by the "stepCnt" (by default 0x15, 0x3)
->
https://github.com/mbientlab/Metawear-AndroidAPI/blob/04a18a8b3eb79669a3b3f96951953ff1991c26d6/library/src/main/java/com/mbientlab/metawear/impl/DefaultMetaWearBoard.java#L5680

Additionally you might send a STEP_DETECTOR_INTERRUPT_ENABLE request as

[2016-03-01 19:38] felipecocco opened #16 "cannot run examples"
noble-device start +0ms
discovered device  unknown
/Users/felipecocco/Downloads/node-metawear-master/examples/accelerometer.js:14
    device.onSetup(function(error) {
           ^
TypeError: undefined is not a function
    at /Users/felipecocco/Downloads/node-metawear-master/examples/accelerometer.js:14:12
    at EventEmitter.onDiscover (/Users/felipecocco/Downloads/node-metawear-master/node_modul

[2016-03-01 19:53] brainexe commented on #16
sorry, the API was changed slightly in the last PR. I just fixed the example scripts in c91c847

[2016-03-01 19:57] felipecocco commented on #16
Works like a charm -- thank you so much! Awesome work.

[2016-03-01 19:57] #16 closed

[2016-03-11 22:09] yowakita commented on #14
When you say
`I quickly checked the Android SDK source code and it seems you have to extend the STEP_DETECTOR_CONFIG call by the "stepCnt" (by default 0x15, 0x3)`
Do you mean sending a buffer like

[code]

into the `start` function and then adding

[code]

to the `enableNotifications` function

I don't have anything of substance at the moment, but I would like to create a pedometer app.

I forked

[2016-03-12 13:30] brainexe commented on #14
Hey @yowakita, i pushed my version of the step counter a few seconds ago: #17
You can call ./examples/stepCounter.js
This will print a dot for each step and the sum of all steps after each 5 seconds. The number is provided by internal metawear counter and can be resetted via Accelerometer.resetStepCounter()

In general I added 3 calls to enable the step counter:
STEP_DETECTOR_CONFIG
STEP_DETECTOR_

[2016-03-13 02:53] felipecocco opened #18 "Streaming throughput slows after a few seconds"
I'm running your example accelerometer code on a MBP, and it streams wonderfully at first. However, after a few seconds, the stream noticeably slows down and I get maybe two updates a second, instead of the flurry of updates that I get at the beginning. If disconnect and reset, I again get the great stream throughput but always get the slowdown afterwards.

[2016-03-13 16:53] brainexe commented on #18
I can't verify your issue on my MetaWear Pro device.

I ran the examples/accellerometer.js script for ~5 minutes and the output stream is constant. (at 50hz)
Are you using the most recent firmware on your device?

Can you please start the script in debug mode and post the output directly after starting the script and after the slowdown.

[2016-03-13 16:54] brainexe commented on #15
Any news here?

[2016-03-13 23:44] felipecocco commented on #18
Yes, I'm running the latest firmware on my Metawear. Here's a little clip showing you exactly the behavior I'm seeing. This happens very time I run it. Also, unless I do a soft reset of the metawear device, it stays in that "slowed down" mode from the outset if I run the script again. Also, when I get the stream data using the Metawear App, I don't notice this reduced throughput.

streamable.com/9

[2016-03-14 16:03] yowakita commented on #14
Thats great @brainexe ! I tried out your example and it seems to work very well so far. I'm going to fiddle with the example and study your code a bit this week, thanks so much for your help!

[2016-03-14 17:51] mgdbgj opened #20 "Toggle Accelerometer?"
I'm trying to toggle the accelerometer by using the switch ...  and while I can turn it on the first press, the subsequent presses do not register it seems.

Does accelerometer turn off switch registration somehow?  The default Android app does not see to have that issue.

Thanks for all your work.

[2016-03-14 21:35] brainexe commented on #20
Can you please post your code?
It should be possible to start/stop the accellerometer with the functions start(), stop(), but i haven't tested it yet.

[2016-03-14 21:49] mgdbgj commented on #20
I wasn't sure whether unsubscribing, etc. was required too ...

`
var devices = require('./../src/device');

var rate  = parseFloat(process.argv[2]) || 50;
var range = parseFloat(process.argv[3]) || 2;

devices.discover(function(device) {
    console.log('discovered device ', device.address);

[code]

});
`

[2016-03-18 23:31] FrenchBully opened #21 "Question Regarding Heart Rate Sensor"
Great stuff, and thanks for putting together such an awesome library.  I know you're in the process of expanding the register and was wondering any word on when that will happen?  I wanted to be able to add a Heart Rate Sensor, similar to the app they created [here](https://github.com/mbientlab-projects/HeartRate/tree/master/HeartRate).  I was trying to use the GPIO, but it seems a little over my

[2016-03-25 21:15] jwhendy opened #22 "Warnings/error about running as root"
Greetings,

Just found this from [this mbient forum post](http://community.mbientlab.com/discussion/347/python-api). I started my bluetooth service with `systemd` and successfully connected to my MetaWear CPro via `bluetoothctl`. When I run `DEBUG="noble-device" node examples/all.js`, I get these errors:

[code]

If I run with `sudo` or as `root`, I get nothing. I know ~0 about bluetooth communica

[2016-03-27 17:00] brainexe commented on #22
Hey @jwhendy, what operting system are you using? And you have to ensure, no other device is connected to the metawear device at the same time.

[2016-03-27 17:05] jwhendy commented on #22
Shouldn't be anything else connected that I know of, but maybe my phone auto paired? I connect from the computer, then run the node command, right?

[2016-03-27 17:10] brainexe commented on #21
Hey @FrenchBully, the [GPIO register](https://github.com/brainexe/node-metawear/blob/master/src/registers/gpio.js) is currently not really implemented

The job is basically to port the [Android implementation](https://github.com/mbientlab/Metawear-AndroidAPI/blob/04a18a8b3eb79669a3b3f96951953ff1991c26d6/library/src/main/java/com/mbientlab/metawear/impl/DefaultMetaWearBoard.java#L3986) to the [node

[2016-03-27 20:00] brainexe commented on #22
mhm...please check the [Getting-started page from noble](https://github.com/sandeepmistry/noble/wiki/Getting-started#what-you-need), maybe you have to install some missing driver or bluez?

But you can check following command, which should list your device:

[code]

[2016-03-28 03:20] jwhendy commented on #22
I have everything I think I need for bluetooth:

[code]

Interestingly, I can't seem to connect to it now! It's not even showing up with `hcitool lescan`. I can see it via "regular bluetooth" using `bluetoothctl`.

[code]

[code]

Not sure what that is, but it doesn't match the adress of the metawear from `bluetoothctl`. I'm stumped!

[2016-03-28 21:21] jwhendy commented on #22
Alright, got out my second CPro. Here's the process I tried:

[code]

[code]

 Bah. In the process of writing this, I found the linux-specific command on the noble page:

[code]

After that I can run successfully. Sorry for the noise :(

Looking forward to messing around; this library is perfect! Without `DEBUG`, I get really nice data that is easily transformed into `.csv` format just like what I

[2016-03-28 21:21] #22 closed

[2016-03-29 10:07] brainexe commented on #22
Ah, very good!

The setcap command was already part of the [readme.md](https://github.com/brainexe/node-metawear#linux-ubuntu--raspberrypi) of the node-metawear project :)

[2016-03-29 10:59] #14 closed

[2016-03-29 14:27] jwhendy commented on #22
Wow. Indeed. Serious party foul on my end... Thanks for the patience and for pointing me in the right direction. Love the work you've done on this for everyone!

[2016-04-08 21:56] FrenchBully commented on #21
Unfortunately I wouldn't know where to begin to port it over.  Anyway you could expedite the implementation of heart rate sensor?  I'm willing to compensate for your time?  Thanks again for the help.

[2016-04-19 20:11] brainexe commented on #21
Hey @FrenchBully ,
I just created a new branch, called "[gpio](https://github.com/brainexe/node-metawear/tree/gpio)" which includes an early version of the GPIO component. Right now I don't have access to a metawear device, so I have no chance for testing and finishing development.

**Open steps to do:**
Implement missing argument in callbacks for the methods [enableNotifications/readAnalogIn/read

[2016-04-27 21:47] yowakita commented on #18
@felipecocco : I noticed the same thing with my macbook pro (late 2014 model running El Capitan) I am wondering if it has to do with one of Node-Metawear's dependent libraries and their interaction with OSX or a limitation of OSX itself because I tested some code on my MBP and got the same ~1000ms choppiness, and then tested the same code on my raspberry pi B+ and an Ubuntu desktop and didn't run

[2016-04-29 15:15] alanhortz commented on #18
Just for the record ... I had exactly the same problem with my MBP (El Capitan 10.11.3), no issue on Yocto. Until now I gave up digging into the problem on the MBP to focus on the logging.

[2016-08-21 07:51] yutakau opened #25 "range error on example"
I'm using Raspberry Pi.

pi@raspberrypi:~/work/node_metawear/node-metawear $ DEBUG="noble-device" node examples/all.js
  noble-device start +0ms
discovered device  f3:5b:f2:a4:19:27
were connected!
  noble-device  +1s send LED <Buffer 02 03 02 02 10 01 e8 03 f4 01 e8 03 c4 09 00 00 14>
  noble-device  +7ms send LED <Buffer 02 01 02>
  noble-device  +3ms send GPIO <Buffer 05 0b 00>
  noble-device

[2016-08-22 14:15] alanhortz commented on #25
Hello @yutakau,

The logging is not officially implemented yet, it is still under construction ...

I will check If I can reproduce the same error ... which RPI are you using RP1,2 or 3 ?

Can you also perform a `uname -m` in order to provide me the name and version of your distro ?

Thanks,

Alan

[2016-08-23 14:24] yutakau commented on #25
Hello alanhortz,
Thank you for your reply.
I'm using RP3, installed latest RASPBIAN JESSE.

pi@raspberrypi:~$ uname -m
armv7l
pi@raspberrypi:~$ uname -a
Linux raspberrypi 4.4.11-v7+ #888 SMP Mon May 23 20:10:33 BST 2016 armv7l GNU/Linux
pi@raspberrypi:~$

Is this OK?

[2016-08-26 21:00] alanhortz opened #26 "Log data parsing : RangeError: Trying to access beyond buffer length"
The function getLoggingTick(response) of the module Log.js is apparently not handling correctly the processing of the buffer, a test should be written to assess the behaviour.

[2016-08-26 21:00] #26 closed

[2016-08-26 21:35] alanhortz commented on #25
Hi,

The function getLoggingTick(response) of the module Log.js is apparently not handling correctly the processing of the buffer, I just wrote a new test+impl, you can find that version here under the branch _logging_ of [this repo](https://github.com/alanhortz/node-metawear).

For your info we did successfully used the logging lib through a container deployed over the air on the raspberry PI3 th

[2016-08-29 15:44] yutakau commented on #25
Hi,

It works fine! Thank you!

[2016-08-29 19:22] alanhortz commented on #25
Ok, please keep in mind that this is a temporary workaround that should work for a while  ... the spec should be a little bit more specific ...

[2016-08-30 22:57] rahul606 opened #27 "Not connecting on mac"
Running nodejs 5.4.1 on mac OSX 10.11 bluetooth 4.4 switched on but seems like it is not connecting with Metawear. Am I missing any configuration ? I just cloned the project and followed the steps as mentioned for mac.

[2016-09-16 08:12] Amanddn opened #28 "service uuid 326a900085cb9195d9dd464cfbbae75a not found"
Hi,
I am running a simple code to blink led, it works fine but after running it for four five times, I'm getting the following error. I am running this code on nitrogen 3.10.17-37-boundary-4j3 device with SMP Debian 3.10.17-37.37 running in it

/home/debian/node-metawear-master/src/device.js:38
      if (err) throw err;
               ^

Error: service uuid 326a900085cb9195d9dd464cfbbae75a not fou

[2016-09-16 10:08] alanhortz commented on #28
Hello,

What are the version numbers of your Metawear device: Hardware version, Firmware version, Model number ?

Which model is it ?

Thanks,

Alan

[2016-09-16 12:08] Amanddn commented on #28
Hi,
I'm using Metawear RPro with Firmware Version 1.2.3, Hardware Version 0.3

Thanks.

[2016-09-16 12:53] alanhortz commented on #28
Could you give me the code you run ?

[2016-09-16 12:59] Amanddn commented on #28
Yes sure. Here it is:

var devices  = require('./../src/device');

devices.discover(function(device) {

   setInterval(function() {
    device.connectAndSetup(function(error) {

[code]

});

[2016-09-25 13:33] alanhortz commented on #28
Hi,

Why do you put a timeout of 5 seconds around the connectAndSetup ?

It seems your code try to inform a user (by blinking 5 times) that a connection has been established [HYPOTHESIS # 1].

In the meantime I have the impression that you want to implement an autoreconnect ... [HYPOTHESIS # 2]

What branch are you using ? master from brainexe/node-metawear ?

Alan

[2016-09-25 13:57] Amanddn commented on #28
Hey Alan,
Actually i was just playing around by doing different things to get away with this error and that was the reason I put a timeout of 5 sec around the connectAndSetup (Also, as I was connecting and reconnecting connection again and again i wanted to be double sure that i reconnect after the previous connection gets properly disconnected)
Yes your hypothesis 1 is absolutely correct and afte

[2016-10-17 19:55] brainexe commented on #25
sorry guys for merging branch alanhortz/logging too quickly. I just merged the (quick)fix into the master branch. I'll take a deeper look when I have more time

[2016-10-17 19:55] #25 closed

[2016-11-11 21:21] alanhortz commented on #28
Hi Aman,

Regarding the first point :

I created a [small example](https://github.com/node-metawear-playground/metawear-rssi-update) on how to get the RSSI update without disconnecting the device. The device blinks 5 times once connected. I also included a way to filter the RSSI signal (kalman filter) in order to get rid of the noise.

Does it fit your need ?

Alan

[2016-11-11 21:25] alanhortz commented on #27
Hi,

Wich Metawear board, firmware and hardware version ?

I have successfully tested the connection from a Mac Os 10.11.4 running node 0.12.16 / 0.12.13 / 0.10.44

I have briefly tested with the 0.6.0 but I run into an error.

Alan

[2016-11-11 21:27] alanhortz commented on #18
Does anybody have update on this ?

[2016-11-11 21:30] alanhortz commented on #15
@JpEncausse Do you have any update ?

I understand that you would let the node process access to the MetaWear, did you workaround that by using the CPP bindings in C# directly ?

[2016-11-11 21:32] alanhortz commented on #2
@brainexe Do you mean coding the right logic to detect which Firmware and which device ?

[2016-11-14 05:32] Amanddn commented on #28
Hi Alan,
This is exactly what I was looking for. Thanks for the code.

Regards,
Aman

[2016-11-14 05:32] #28 closed

[2016-11-14 19:54] alanhortz commented on #28
Cool !

Glad I helped !

[2016-11-16 00:31] adebiyi422 opened #30 "Accelerometer/Gyro buffer hanging after initialization"
Hello,

Thanks for the great tutorial, it is really helpful.

When I ran all.js, accelerometer.js and gyro.js for the first time, I had no issues at all. In fact, accelerometer.js and gyro.js were sending values at very high speeds. However, an hour later I tried them again and this is what I'm getting before it hangs:

**Accelerometer**
 noble-device start +0ms
discovered device  d4:ef:5d:73:8f:f

[2016-11-16 18:43] adebiyi422 commented on #30
Upon further investigation, it seems like it may have something to do with the bluetooth low energy protocol and connecting and disconnecting from the device. If I perform a soft-reset through the app, it works fine again for a few minutes. Is there a way to do this through node? My application is going to require it to keep up with the initial speed.

Thanks!

[2016-11-16 18:44] adebiyi422 commented on #18
I am having the same issue on an Ubuntu desktop.

[2016-11-17 11:52] alanhortz commented on #30
Hi,

Can you provide the HW version, FW version and Model number ?

**Regarding the first issue** :

What happens if you let the device close to computer's BLE adapter more than an hour ? It may be related to the way your BLE adapter consider the connection as lost (just an hypothesis, never went trough this problem before).

**Regarding the reset** : The reset can be performed through the debug r

[2016-11-17 11:57] alanhortz commented on #18
@felipecocco : Which version FW,HW and Model number for your device ? We have updated the dependencies. Do you confirm you still encounter the same problem ?

[2016-11-17 11:59] alanhortz commented on #27
@rahul606 Can you test with the node version I mentioned above and told us about the results ? It may be a compatibility issue with node.js v5+

[2016-11-17 18:46] adebiyi422 commented on #30
Hi Alan,

Thanks for getting back to me so quickly.

My sensor is a MetaMotion-R r.01 and it had updated to the latest firmware(sorry I'm not sure which version), before it broke and stopped responding to the iOS app.

**Re the first issue:** After a while the device stopped responding even to the Metawear ios App after about 15 minutes, and I think it is broken due to the constant streaming. I ha

[2016-11-18 14:43] alanhortz commented on #30
Hi,

Maybe something related to the FW version it-self, try to downgrade the version. The mbientlab forum can help you with that.

For the reset feature, I suggest you run `DEBUG="noble-device" node examples/debug.js` to get an idea about how to perform a soft-reset.

I consider this topic closed since you encounter exactly the same behaviour with the iOS app.

Regards,

Alan

[2016-11-18 14:43] #30 closed

[2016-11-20 20:09] felipecocco commented on #18
@alanhortz I seem to encounter a different problem now.

The stream no longer halts after a while; now from the start I seem to get output that is roughly on a +130ms delay followed by 0/1ms delays at regular intervals.

When I first run the command to test out the accelerometer, it does give me this warning now, though:
![image](https://cloud.githubusercontent.com/assets/4644625/20465767/560a0386

[2016-11-21 10:30] alanhortz commented on #18
@felipecocco So if I do understand you correctly, the original issue is gone but you now see a potential leak alert given by the underlying EventEmitter, is that right ?

Regarding the EventEmitter, this is something I personally encountered, but didn't had time to investigate it .... Any help is welcome ;)

I will create a new issue, with the potential memory leak ...

Alan

[2016-11-21 10:31] alanhortz commented on #18
@yowakita could you confirm the same problem you encountered on side is also solved ?

Thanks,

Alan

[2016-11-21 10:41] alanhortz opened #32 "EventEmitter - Potential memory leak"
The following issue has been observed when the accelerometer example is executed on a MacOS device.

`MaxListenersExceededWarning: Possible EventEmitter memory leak detected. 11 write listeners added. Use emitter.setMaxListeners() to increase limit`

Next step : Confirm the same kind of problem occurs on Linux based OS.

[2016-11-21 10:41] alanhortz commented on #32
@brainexe Did you ever encountered this problem ? Do you have some input to share ?

Thanks,

Alan

[2016-12-04 21:58] alanhortz opened #34 "Further configuration for BMM150 Magnetometer"

[2016-12-04 22:12] alanhortz opened #35 "Gyro & Accelerometer stops sending data until soft reset"
I have implemented the connection parameter support, apparently applying a 7.5ms max connection interval could. This could also vary depending the underlying hardware.

I need some help, would you please share any experience report that might help ?

Thanks,

Alan

PS : See this [related thread](http://community.mbientlab.com/discussion/1887/gyro-accelerometer-stops-sending-data-until-soft-reset#l

[2017-01-12 11:09] ibaseta220 commented on #32
Same problem here on Ubuntu 16.04. Here is the output:

`discovered device  c7:e4:d4:f9:aa:94
We are connected!
Start accelerometer with 7hz ang +-2g
(node) warning: possible EventEmitter memory leak detected. 11 write listeners added. Use emitter.setMaxListeners() to increase limit.
Trace
at Characteristic.addListener (events.js:239:17)
at Characteristic.once (events.js:265:8)
at Characteristic.w

[2017-01-12 11:22] ibaseta220 opened #36 "Unable to get accel data with less than 7 Hz"
Whenever a configure the sampling rate under 7 Hz, the device just stops and doesn't retrieve data.

Edit: I have a MetaWerar C, connected with a Raspberry Pi.

[2017-01-12 12:12] alanhortz commented on #36
Hi @ibaseta220 ,

The BMI160 Bosh sensor does not support a sampling under 7Hz. In fact when you supply 7Hz, the finds the closest value which is 0.78125.

To know the exact OUTPUT_DATA_RATE please [check this](https://github.com/brainexe/node-metawear/blob/master/src/registers/accelerometer.js#L47) and if you want to know more about the sensor, this is the [sensor datasheet](http://www.mouser.com

[2017-01-12 12:12] #36 closed

[2017-01-13 15:14] alanhortz opened #37 "Improve the data type returned by the accelerometer and Gyro"
Instead of returning a anonymous data structure, it should be better to return a typed data object like a CartesianFloat.

The CartesionFloat object along withe CorrectedCartesianFloat, Quaternion and EulerAngle are planned to be available in release 0.3.6 in src/registers.core.js

[2017-01-14 20:46] alanhortz opened #38 "The configuration of Gyroscope is not properly implemented"
The configuration must properly mask the output rate before sending the config to the device

https://github.com/brainexe/node-metawear/blob/master/src/registers/gyro.js#L77

should be masked with `0x20` like

https://github.com/brainexe/node-metawear/blob/master/src/registers/accelerometer.js#L98

[2017-01-14 22:39] alanhortz commented on #9
Planned for version v0.3.8

[2017-01-16 22:47] alanhortz commented on #38
The fix can actually be tested under commit a471a3c https://github.com/alanhortz/node-metawear/tree/sensorfusion

[2017-02-04 23:02] alanhortz commented on #38
Solved v0.3.7

[2017-02-04 23:02] #38 closed

[2017-02-04 23:03] alanhortz commented on #34
Implemented v0.3.7

[2017-02-04 23:03] #34 closed

[2017-02-06 09:13] alanhortz opened #41 "Create a better documentation based on JSDoc"

[2017-02-15 02:48] nathanaellow opened #42 "Multiple MetaWear"
Hi,

Is it possible to discover and connect multiple metawear devices at one go?

Thank you!

[2017-02-19 01:04] hamilton opened #43 "sensorFusion quaternion example does not produce values"
So happy to find this library! Thank you for putting it together.

I am having trouble running the quaternion example with my Metamotion R unit. I don't have any error raised, but the data streamed are all 0s. Is the code snippet in `/examples` known to work at this point? The other supported examples seem to work fine.

[2017-02-19 01:56] hamilton opened #44 "getDeviceName may not be addressed properly"
I'm having trouble accessing the device name with a MetaMotion R. Below is a small snippet that demonstrates the issue:

[code]

And I get the following error `error while sending data:  [Error: service uuid 326a900085cb9195d9dd464cfbbae75a not found!] <Buffer 11 81>
`.

Is this functionality in-place at this point?

[2017-02-19 02:01] hamilton commented on #44
Oops. Found it. Disregard.

[2017-02-19 17:45] hamilton commented on #44
Come to think of it, you probably have to connect to the device first. I'll close this issue (again).

[2017-02-19 17:45] #44 closed

[2017-02-20 14:26] alanhortz commented on #43
Hi @hamilton,

Could you provide me the Serial Number, Hardware revision, Firmware revision, Model Number ?

On which platform do you run the example ?

I have encountered the same issue and it is usually solved with a soft reset, I advice you to use either the mobile app and the soft reset function provided.

Regards,

Alan

[2017-02-20 14:33] alanhortz commented on #42
Hi @nathanaellow

Normally it should be ok but it still depends on the platform and software stack you run on.

Did you try something ? If yes, could you provide me the platform on which you executed your test ?

You should have no problem to create a small snippet, please share I will try on different platform and let you know my results ...

Regards,

Alan

[2017-02-20 16:58] alanhortz commented on #43
Hi @hamilton,

I checked again and it could be something related to the way the configuration is written (in fact not written :), I figured out that the configuration of the sensor is forgotten in the example.

I suggest you the following procedure to write the proper config and then attempt again:

1) Open the Metawear App (I have tested on IOS not yet on Android)
2) Connect to your MetaMotion R

[2017-02-20 17:16] alanhortz commented on #43
@hamilton

I just created a new branch regarding the configuration issue.

Would you please test this example ? https://github.com/brainexe/node-metawear/blob/issue-43/examples/sensorFusion.js

Please perform a soft reset and try again with that exact example code.

Thanks,

Alan

[2017-02-20 17:16] hamilton commented on #43
Thanks for the response Alan! The quaternion streaming w/ the NDoF alg works properly from the mobile app.

- firmware version: 1.3.3
- hardware version: 0.1
- model number: 5 (MetaMotion R)
- serial: 00F3AF

I ran the platform on Node 4.4.7, on OS X Yosemite 10.10.5.

[2017-02-20 17:17] alanhortz commented on #43
@hamilton

I just created a new branch regarding the configuration issue.

Would you please test this example ? https://github.com/brainexe/node-metawear/blob/issue-43/examples/sensorFusion.js

Please perform a soft reset and try again with that exact example code.

Thanks,
Alan

[2017-02-20 17:20] hamilton commented on #43
@alanhortz The example provided appears to work.

[2017-02-20 19:26] alanhortz commented on #43
@hamilton

In the meantime I will investigate what happens with the configuration.

Please doesn't hesitate to advice how you would use it ...

Thanks,

Alan

[2017-02-21 07:35] alanhortz commented on #43
@hamilton

Glad to hear that everything seems to work fine.

I will publish a pre-release version of the 0.3.8 including the fixed example and will investigate the code to make sure the configuration does cover every sensors whatever the previous configuration could be.

I suggest you to run the same example on a different hardware, like a raspberry pi 3 for example, I have encountered slow stream

[2017-02-23 20:01] alanhortz commented on #43
example fixed in the pre-release v0.3.8-alpha.1

[2017-02-24 01:58] hamilton commented on #43
Fantastic - thanks!

[2017-02-24 01:58] #43 closed

[2017-02-24 02:08] hamilton opened #45 "difficulty discovering more than one MetaMotion R at a time"
Hello again -

I'm on a MBP running Yosemite 10.10.5, attempting to discover 4 MetaMotion Rs near me, so that I can attach one on each limb. I'm having trouble discovering more than one at a time, however, which limits my intended application of having these on dancers. I know they're all discoverable, since through the mobile app I can connect to each one individually. The firmware on the devices

[2017-02-24 09:17] alanhortz commented on #45
@hamilton,

It could be an impediment with the underlying layer which is noble-device (uses noble).

I will check if I can find a more clues about what happens, maybe one node process for each sensor could do the job. I suggest you trying with independent process just to validate this hypothesis.

Regards,

Alan

[2017-02-24 16:37] hamilton commented on #45
It turns out this is not a bug, but is indeed due to the `noble-device` inheritance. The examples provided usually account for only one sensor, so using  `devices.discover` actually does not discover all available devices, but only the first one to be discovered. Using `devices.discoverAll` or any of the other discovery events [from `noble-device` here](https://github.com/sandeepmistry/noble-devic

[2017-02-24 16:37] #45 closed

[2017-02-24 16:42] alanhortz commented on #45
@hamilton

I am eager to know if you succeed to stream from multiple sensors at the time / same rate. Please get back to me with the results of your test.

MacOS is known to me for having a lower transfer rate when it comes to stream (at least on my MacBook Pro), I don't know if it is due to the underlying node layer communicating with the BLE stack on the OS.

Regards,

Alan

[2017-02-24 16:43] alanhortz commented on #42
@nathanaellow

I suggest you to follow the [issue #45](https://github.com/brainexe/node-metawear/issues/45)  to get feedback from another user that encounter the same need as you.

Regards,

Alan

[2017-02-24 16:49] hamilton commented on #45
@alanhortz I'll let you know when I'm back in front of my sensors. The application here is actually streaming from sensors to an independent unit run by an Intel Edison, so I'm hoping when I get to testing the streaming that there is no issue there.

This would be a great excuse to get moving on #41, if y'all have the bandwidth to start it. I bet you a number of people have tried this library with

[2017-02-24 16:52] alanhortz commented on #45
@hamilton Feel free indeed, I started to experiment with JSDOC to Markdown in the sensorfusion branch [here](https://github.com/alanhortz/node-metawear/blob/sensorfusion/DOCUMENTATION.MD)

[2017-02-24 17:12] hamilton commented on #41
I'd maybe consider just using the Github wiki. It's very easy to update and can probably do most of what you need without having to push code to update the documentation.

[2017-02-24 17:14] alanhortz commented on #41
Good idea !

[2017-02-25 03:41] nathanaellow commented on #42
@alanhortz
Sorry for the delayed reply. I'm new to this and learning as I go. I'm currently testing on RaspberryPi using `devices.discover `. Kudos to @hamilton on finding that out. I am able to discover and connect more than 1 MetaWear now.

Also, to my understanding noble is able use multiple adapters by issuing `sudo NOBLE_REPORT_ALL_HCI_EVENTS=1 node <your file>.js`. Is it possible to establis

[2017-02-25 22:01] hamilton opened #46 "node-metawear receives SENSORFUSION + GYRO, even if not explicitly"
Hello again -

I have been attempting to do some framerate tests with a MetaMotion R. I was finding that if I streamed the magnetometer, gyro, accelerometer, and quaternions via sensorfusion, the framerate is actually quite slow (~2Hz). Stripping out everything except the accelerometer still yields a very slow rate.

So I decided to try one of the example scripts to debug my logic, running the sni

[2017-02-25 22:03] hamilton commented on #46
update: I tried a soft reset of the device through the mobile app. Removes the GYRO + SENSORFUSION receives. Does the device remember the services last received, and if so, is there a way to automatically soft reset it or something so we don't receive it?

[2017-03-02 16:26] alanhortz commented on #46
@hamilton I also experience slow frame rate on my MacOs (yes I assume your launched the test on a Mac, am I right ?), but I did yet had the time to dig into it since I mostly use, Raspberry Pi 3, Beaglebone Green Wireless for testing.

Regarding the configuration of the sensors, yes the device keep the configuration till a soft rest is performed or the coin cell is removed. I need to make sure the

[2017-03-02 17:05] alanhortz commented on #42
@nathanaellow Thanks for the feedback, at the end I am so involved in the lib that some obvious methods to me are not properly documented for the users.

Regarding you need, when the device is connected, normally it should not be connected to another adapter except in GUEST mode (you have to experiment it). There is another way to move forward, you can use the iBeacon mode and listen for the rssi

[2017-03-02 17:08] #42 closed

[2017-03-22 01:55] mdgagne opened #47 "OutputDataRate question"
I've noticed the acceleromter.js example supports specifying different output rates and range; however, the output rate doesn't seem to have an impact on the rate acceleromter data is posted to the console. Am I misinterpretting the meaning of this? Is setOutputDataRate known to work?

Thanks

[2017-03-22 13:04] alanhortz commented on #47
Hi @mdgagne,

I assume you just changed the rate at the script execution time and you observe the result on the console.

The lib will adjust your input to snap to the following values :

**OUTPUT_DATA_RATE**

    0.78125
    1.5625
    3.125
    6.25
    12.5
    25.0
    50.0
    100.0
    200.0
    400.0
    800.0
    1600.0
    3200.0

**ACC_RANGE**  2, 4, 8, 16

What happens if you use edge v

[2017-03-23 00:39] mdgagne commented on #47
@alanhortz
Thanks for your response. Yes, I see that the rates and magnitudes 'snap' to a fixed set of possibilities. I also see a change to the x,y, z magnitude based on the supplied range; however, the onChange events happen much more frequently than expected.

Here is output with a slightly modified version of the example (ignores input rate, range) and uses 1.0 and 2.0. I've also included time

[2017-04-04 12:45] alanhortz commented on #47
Hi @mdgagne,

Sorry for the delay of my answer ...

Could you provide me the Model number, Firmware revision, Hardware revision of your device as well as your operating device ?

At this stage i have no clue about this discrepancy ...

Thanks,

Alan

[2017-04-22 22:37] mdgagne commented on #47
Model 0
Fw 1.2.5
HD rev 0.2
Running on raspian Jessie with raspberry pi 3

[2017-04-26 15:19] alanhortz commented on #47
@mdgagne

Despite the configurable range for the Bosh accelerometer, the minimal value I suspect to be is 12.5 like mentioned the mobile app.

I did not succeed to get a accelerometer stream below 12.5.

Could you test with 12.5 and let me know ?

Thanks ...

Alan

[2017-04-30 14:28] mdgagne commented on #47
@alanhortz
Thanks for the response. I get updates at roughly the same rate independent of what I set the output data rate to. Interestingly, while testing this I noticed that changing the output data rate also affects the accelerometer value scale that is returned. For example, running `accelerometer.js 10 2` yields different values that running `accelerometer.js 100 2`. For this, I'm using gravit

[2017-05-12 12:32] davecrumbacher opened #48 "Using accelerometer and GPIO at the same time"
I have some code that sets and clears a GPIO pin every second (in a setInterval timer). While I'm doing that I'd like to also use the accelerometer (using accelerometer.onChange), and based on the values I receive (in particular whether there is enough movement), disable the setInterval timer. However, it doesn't seem to work. The accelerometer.onChange fires as expected, and the setInterval timer

[2017-05-12 13:11] alanhortz commented on #48
Hi @davecrumbacher,

I have personally never tried out the GPIO feature of the lib but glad you did (it help us move forward) !

I will compare in the coming week the behaviour of the iOS app versus the node.js lib and tell you about my conclusions.

Did you tried out with the Android App ?

In the meantime can you provide me the following info :

- Firmware version
- Hardware model
- Revision num

[2017-05-12 19:32] davecrumbacher commented on #48
Thanks for the quick reply @alanhortz! Here's the info you requested:

* Firmware version: 1.2.5
* Hardware model: MetaDetect (based on MetaWearC)
* Revision number (hardware): 0.3
* OS type: MacOS and Raspbian
* Node.js version: 7.4.0 and 4.2.4
* A dump of your console output when run with DEBUG="noble-device" node ....

[code]

It's interesting that when I did this test it seemed to work. I need

[2017-05-15 08:54] alanhortz commented on #48
hi @davecrumbacher,

As far as I understand, you succeeded to do what you wanted to do ... So I close this issue and let you come back with the same topic in case reliability is an issue.

Alan

[2017-05-15 08:54] #48 closed

[2017-07-14 17:28] krishnask6 opened #52 "Unable to read logs using the built in logging module"
My first problem is:
1. I am trying to read the logs for accelerometer using the logging module but it is not able to read them using downloadLog function. I am trying to use a callback function but doesn't go through all the event.emitter listeners.

2. I am also facing an issue while running the accelerometerLog.js module, it gives me an warning, but not sure if it is relevant to the first issue

[2017-07-18 07:04] alanhortz commented on #52
Hi,

The logging module is incomplete in the current version, however, a work in progress version have been developped while ago in this [branch](https://github.com/alanhortz/node-metawear/tree/logging). Unfortunately, this last version is not in sync with the latest dependencies but might still work.

I suggest you run this [example](https://github.com/alanhortz/node-metawear/blob/logging/example

[2017-10-28 20:07] mirandrew opened #53 "Trouble with npm install of metawear-sd-javascript package on windows 10"
npm ERR! Windows_NT 10.0.15063
npm ERR! argv "C:\\Program Files\\nodejs\\node.exe" "C:\\Program Files\\nodejs\\node_modules\\npm\\bin\\npm-cli.js" "install"
npm ERR! node v6.11.5
npm ERR! npm  v3.10.10
npm ERR! code ELIFECYCLE
npm ERR! metawear@0.0.4 install: `make OPT_FLAGS=-Wno-strict-aliasing -C MetaWear-SDK-Cpp/ -j`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the metawear@0.0.4 install

[2017-11-07 15:45] alanhortz commented on #53
Hi @mirandrew,

This is not the right repository, I assume you are using the https://github.com/mbientlab/MetaWear-SDK-JavaScript

Regards,

Alan

[2017-11-07 15:46] alanhortz commented on #53
This repo is the very first "community" version of a node API for the metawear platform.

[2018-01-10 12:12] hugepage commented on #53
So , where can i find the right depository?

[2020-06-17 17:46] adekunle-A opened #54 "Sensor fusion does not produce any value"
I am having trouble running the quaternion example with my Metamotion R unit. I don't have any error raised, but the data streamed are all 0s. Is the code snippet in /examples known to work at this point? The other supported examples seem to work fine.I would appreciate if you could help please

[2020-08-29 00:29] alanhortz commented on #54
Normally it should work fine, I have produced a small example that showcase a server exposing quaternion data over a websocket for a web page to display it in 3D.

https://github.com/handsonio/metawear-3d-view

Here it is feel free to use it ...

I have extensively used the Meatwear motion R with Raspberry Pi, the following guide (a bit outdated) may help you to setup a Raspberry Zero W (inexpensi

[2020-08-30 13:05] #54 closed